<?xml version="1.0"?>
<launch>
  <!-- Configuration of Moose which you would like to simulate.
       See moose_description for details. -->
  <arg name="config" default="base" />

  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="1.0" />

  <!-- Load Moose's description -->
  <include file="$(find moose_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>

  <include file="$(find moose_gazebo)/launch/control_sim.launch" />
  <include file="$(find moose_control)/launch/teleop.launch" />

  <!-- Spawn Moose -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model moose -param robot_description -x $(arg x) -y $(arg y) -z $(arg z)" />
</launch>
